/* Some colors from https://colorhunt.co/palette/206727 */

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #b7a57a;
}

.main-content {
  margin-top: 1em;
}

.figure-caption {
  margin-left: 1em;
  margin-right: 1em;
}

.icon {
  font-size: 2em;
  font-color: #eee;
}

.table-sm {
  font-size: 12px;
}

a, a:hover {
  color: #85754d;
}

.bg-accent {
  background-color: #4b2e83;
}

h1, h2, h3, h4, h5 {
  color: #4b2e83;
}

hr {
  color: #e7e7de;
}

.border-accent {
  border-bottom: 0.25em solid #b7a57a;
}

.thumbnail-square {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}
.thumbnail-square img {
    position: absolute;
}

.img-hover:hover {
  opacity: 0.5;
}
